.drawer-wrapper {
    position: relative;
}

.drawer-mask {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 80;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.drawer-wrapper.slide > .drawer-mask {
    opacity: 0.5;
    visibility: visible;
}

.drawer {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
