@page "/products/add"
@inject HttpClient Http

<nav class="navbar navbar-dark bg-secondary rounded mb-3">
    <span class="navbar-brand">Toode</span>
</nav>

<TabSet>
    <Tab Title="Baasinfo">
        <ProductBasics />
    </Tab>
    <Tab Title="Tooteinfo">

    </Tab>
    <Tab Title="Hinnad">

    </Tab>
</TabSet>


@code {
    
}
