@page "/products/add"
@page "/products/edit/{Id:int}"
@inject HttpClient Http

<nav class="navbar navbar-dark bg-secondary rounded mb-3">
    <span class="navbar-brand">Toode</span>
</nav>

<TabSet>
    <Tab Title="Baasinfo">
        <ProductBasics Id="@Id" />
    </Tab>
    <Tab Title="Tooteinfo">
        <ProductVariants Id="@Id" />
    </Tab>
    <Tab Title="Hinnad">
        <ProductPrices Id="@Id" />
    </Tab>
</TabSet>


@code {
    [Parameter] public int Id { get; set; }
}
