@page "/locations/{Id:int}/inventory"
@inject HttpClient Http

<div>
    <nav class="navbar navbar-dark bg-secondary rounded mb-3">
        <span class="navbar-brand">Ladu</span>
        <NavLink class="btn btn-primary ml-auto" href="locations/return">Tagasi</NavLink>
    </nav>

    <h5 class="bg-light p-2 mb-5 text-secondary">Filter</h5>

    @if (_pagedInventory == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <ProductDetails Item="@SelectedItem" />

        <div class="grid mb-5">
            @foreach (var item in _pagedInventory.Results)
            {
                <ProductCard Item="@item" OnSelected="HandleProductSelected" />
            }
        </div>

        <div class="d-flex justify-content-center">
            <Pager Result="@_pagedInventory" OnPageChanged="@((p) => HandleOptionsChanged(p))" />
        </div>
    }
</div>


@code {
    private PagedResult<ProductInventoryInLocationDto> _pagedInventory;
    private LocationInventoryListOptions _options = new LocationInventoryListOptions { CurrentPage = 1, PageSize = 18 };
    private ProductInventoryInLocationDto _selectedItem;

    private ProductInventoryInLocationDto SelectedItem
    {
        get
        {
            var selectedItem = _selectedItem;

            if (selectedItem != null)
            {
                _selectedItem = null;
            }

            return selectedItem;
        }
    }

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UpdateList();
    }

    #region helpers
    private async Task UpdateList()
    {
        var response = await Http.PostAsJsonAsync<LocationInventoryListOptions>($"api/locationinventory/{Id}", _options);
        if (response.IsSuccessStatusCode)
        {
            _pagedInventory = await response.Content.ReadFromJsonAsync<PagedResult<ProductInventoryInLocationDto>>();
        }
    }
    #endregion

    #region event handlers
    private async Task HandleOptionsChanged(int pageNo = 1)
    {
        _options.CurrentPage = pageNo;
        await UpdateList();
    }

    private void HandleProductSelected(ProductInventoryInLocationDto item)
    {
        _selectedItem = item;
    }
    #endregion
}
