@inject HttpClient Http

<div class="d-flex justify-content-end align-items-baseline bg-light p-2 mb-3">
    <label class="mr-3 text-secondary">Lao liik</label>
    <select class="form-control" style="width: 13rem;"
            value="@Options.LocationTypeId"
            @onchange="HandleLocationTypeChanged">
        <option value="0">-- Kõik --</option>
        @if (_locationTypes != null)
        {
            @foreach (var item in _locationTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        }
    </select>
</div>

@code {
    private IEnumerable<DropdownDto> _locationTypes;

    [Parameter] public LocationListOptions Options { get; set; }
    [Parameter] public EventCallback OnOptionsChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _locationTypes = await Http.GetFromJsonAsync<IEnumerable<DropdownDto>>("api/locations/dropdowns");
    }

    private void HandleLocationTypeChanged(ChangeEventArgs args)
    {
        if (int.TryParse(args.Value.ToString(), out var value))
        {
            Options.LocationTypeId = value;
            OnOptionsChanged.InvokeAsync();
        }
    }
}
