.zindex-like-filter-drawer {
    z-index: 90;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12.5rem);
    grid-gap: 2.5rem;
    justify-content: center;
}
